.Navbar {
  margin-top: -6rem;
  margin-left: 1rem;
}

.Nav {
  margin: 0.6rem;
}

.img {
  margin-left: 7rem;
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}

.NavItem:hover {
  color: orange;
}
